.ant-layout {
	background: #FFF;
}

.ant-layout-sider {
	background: #FFF;
}

.ant-layout-header {
	position: relative;
	z-index: 10;

	padding: 0;

	background: #FFF;
	box-shadow: 0 2px 8px #F0F1F2;
}

.ant-popover-inner-content {
	padding: 0;
}
