.ant-layout {
	background: #fff;
}

.ant-layout-sider {
	background: #fff;
}

.ant-layout-header {
	position: relative;
	z-index: 10;
	background: #fff;
	box-shadow: 0 2px 8px #f0f1f2;
	padding: 0;
}

.ant-popover-inner-content {
	padding: 0;
}
