.header-auth {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	padding: 0 24px;
}

.header-auth-right {
	display: flex;
}

.menu-icon {
	font-size: 20px;
}

.header-icon {
	cursor: pointer;
}

.searchbox {
	display: inline-flex;

	width: 200;
	margin-left: 16px;

	border-left: 1px solid rgb(0 0 0 / 6%);
}

.searchbox svg {
	color: #CED4D9;
}
