.layout {
	min-height: 100vh;
}

.menu {
	padding-top: 8px;

	background: #FFF;
}

.menu a {
	margin-left: 8px;
}

.row-content {
	width: 100%;
	padding-top: 12px;
}

.content {
	padding: 8px 24px;
}
